* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 1520px;
    margin: auto;
}

body {
    background-color: rgb(0, 38, 51);
}

/* Special templates */
.grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.padding2x {
    padding: 2.5rem;
}

/* HEADER SECTION */

header {
    display: grid;
    height: 110px;
}
nav#headerNav{
    grid-template-columns: 20% 80%;
}

/*logo*/

a#header_image {
    margin: 0;
}
a#header_image img{
    width: 203px;
}

/* navigation links */

ul#ListLinks{
    display: flex;
    justify-content: right;
    align-items: center;
}

ul#ListLinks li{
    list-style-type: none;
    display: inline;
}
ul#ListLinks li:nth-of-type(1) a{
    background-color: red;
    color: white;
}

ul#ListLinks a{
    color: #7697A2;
    text-decoration: none;
    font: 1rem Arial;
    padding: 18px;
    font: condensed 700 0.9rem/1.6 serif;
    text-transform: uppercase;
}

ul#ListLinks a:hover{
    background-color: red;
    color: white;
    transition: 0.3s;
}

                    /* CAROUSEL */

                    /* image */
.slides {
    display: flex;
}

div[style]{
    width: 1523px;
    height: 532px;
    flex-shrink: 0;
    background-position: top;
    background-size: cover;
}

/* Buttons */
.slides input {
    display: none;
}
.manual-navigation {
    display: flex;
    gap: 10px;
    margin: -40px 0 0 20px;
}
.manual-navigation label {
    width: 30px;
    height: 30px;
    border: solid white 1px;
    transition: 0.5s;
}

/* Passar imagem */
.first {
    margin-left: -200% ;
}

#radio1:checked ~ div.first {
    margin-left: 0px;
}

#radio2:checked ~ div.first {
    margin-left: -1000px;
}