* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 1520px;
    margin: auto;
}

body {
    background-color: rgb(0, 38, 51);
}

.grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.padding2x {
    padding: 2.5rem;
}

/* HEADER SECTION */
header {
    display: grid;
    height: 110px;
}
#headernavsection{
    grid-template-columns: 20% 80%;
}

/*logo*/
#header_image {
    margin: 0;
}
#header_image img{
    width: 203px;
}

/* navigation links */

ul#divListLinks{
    display: flex;
    justify-content: right;
    align-items: center;
}

#divListLinks li{
    list-style-type: none;
    display: inline;
}
#divListLinks a{
    color: white;
    text-decoration: none;
    font: 1rem Arial, Helvetica, sans-serif;
    padding: 18px;
}
#divListLinks a:hover{
    background-color: white;
    color: black;
}

