* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 1520px;
    margin: auto;
}

body {
    background-color: rgb(0, 38, 51);
}

/* Special templates */
.grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.padding2x {
    padding: 2.5rem;
}

/* HEADER SECTION */

header {
    display: grid;
    height: 110px;
}
nav#headerNav{
    grid-template-columns: 20% 80%;
}

/*logo*/

a#header_image {
    margin: 0;
}
a#header_image img{
    width: 203px;
}

/* navigation links */

ul#ListLinks{
    display: flex;
    justify-content: right;
    align-items: center;
}

ul#ListLinks li{
    list-style-type: none;
    display: inline;
}
ul#ListLinks li:nth-of-type(1) a{
    background-color: red;
    color: white;
}

ul#ListLinks a{
    color: #7697A2;
    text-decoration: none;
    font: 1rem Arial;
    padding: 18px;
    font: condensed 700 0.9rem/1.6 serif;
    text-transform: uppercase;
}

ul#ListLinks a:hover{
    background-color: red;
    color: white;
    transition: 0.3s;
}

/* CAROUSEL */

.slides{
    display: flex;
    overflow: hidden;
}

.slides input {
    display: none;
}

.slides img{
    width: 1520px;
    height: 532px;
    object-fit: cover;
    object-position: top;
}
div.manual-navigation{
    width: 150px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

label.manual-btn{
    border: 2px solid white;
    padding: 10px;
    cursor: pointer;
}

#radio1:checked ~ .first{
    margin-left: 0%;
    transition: 1s;
} 
#radio2:checked ~ .first{
    margin-left: -100%;
    transition: 1s;
} 
#radio3:checked ~ .first{
    margin-left: -200%;
    transition: 1s;
} 
