#grad{
    height: 300px;
    text-align: right;

    font-size: 25px;
    font-weight: bolder;

    background-image: linear-gradient(90deg, red, pink 15%, blue, cyan, green, yellow, red);
    color: blakc;

    padding: 15px;
    align-items: center;
    justify-content: right;
}

h1{
    color: rgb(169, 0, 0);
    font: italic small-caps bold 2.2em "Times new Roman";
}

h1:hover {
    background-color: black;
    color: white;
    text-align: center;
}

h1:hover::before{
    content: url(satanism\(1\).png);
    margin-right: 5px;
}

/**/
p:nth-of-type(1){
    font-stretch: semi-expanded;
}

p:nth-of-type(2){
    font-stretch: ultra-condensed;
}

.diff{
    font: 1.1em Arial;
    text-align: center;
}